<div class="container">
  <header><img src="images/recall-logo.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome, <%=@user.username%>
    <h2>Create a New Appointment</h2>

    <div class="content">

      <h3 class="flash">
          <% if flash.has?(:message) %>
            <%= flash[:message] %>
          <% end %>
      </h3>

      <form action="/appointments" method="post">
        <h3>Title: <input type="text" name="title" id="title"></h3>
        <h3>Date: <input type="text" name="date" id="date"></h3>
        <h3>Location: <input type="text" name="location" id="location"></h3>
        <h3>Details: <input type="text" name="details" id="details"></h3>
        <input type="submit" value="Submit">
      </form>

      <h3><a href="/logout">Logout</a></h3>

    </div>

  </div>
</div>
