
<div class="container">
  <header><img src="images/recall-logo.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sign Up Below</h2>

    <div class="content">

      <h3 class="flash">
          <% if flash.has?(:message) %>
            <%= flash[:message] %>
          <% end %>
      </h3>

      <form class="formlabel" action="/signup" method="post">
        <h3>Name:     <br><input type="text" id="name" name="name"></h3><br>
        <h3>Username: <br><input type="text" id="username" name="username"></h3><br>
        <h3>Email:    <br><input type="email" id="email" name="email"></h3><br>
        <h3>Password: <br><input type="password" id="password" name="password"></h3><br>
        <input type="submit" value="Sign Up" id="Sign Up">
      </form>

    </div>

  </div>
</div>
